@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$primary: #d95351;

body {
  font-size: 16px;
}
.item {
  &-title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-color {
    font-size: 0.75rem;
  }

  &-price {
    color: $primary;
    font-size: 0.9rem;
  }
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn {
  border: 1px solid $primary;
  border-radius: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary;
  transition: all ease-out .3s;
  font-size: 0.65rem;

  &:hover {
    color: #fff;
    border-color: #fff;
    background-color: $primary;
  }
}