.ShopCard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 25px 30px;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);

  &-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &-header {
    align-self: center;
    text-align: center;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}