/* Header */
.header-controls-pics {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin-left: auto;
}
.header-controls-pic {
    height: 32px;
    width: 32px;
    margin: 0 10px;
    background-image: url(img/header-controls-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.header-controls-search {
    position: relative;
    z-index: 1;
    background-position: -64px 0;
}
.header-controls-profile {
    position: relative;
    background-position: -32px 0;
}
.header-controls-cart {
    position: relative;
    background-position: 0 0;
}
.header-controls-cart-full {
    position: absolute;
    right: -10px;
    top: -5px;
    display: block;
    height: 21px;
    width: 21px;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
    box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
.header-controls-search-form {
    position: absolute;
    right: 65px;
    top: calc(50% - 19px);
    display: block;
    width: 233px;
    height: 38px;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #D4E4E6;
    border-radius: 50px;
    text-align: right;
}
.header-controls-search-form .form-control {
    width: 100%;
    height: 100%;
    color: #333333;
    border: none;
    outline: none;
    box-shadow: none;
}