.ui-datepicker,
.ui-datepicker-material-header {
  font-family: "Roboto", sans-serif;
  display: initial;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker table {
  margin: 0;
}

.ui-datepicker .ui-datepicker-title {
  padding: 10px;
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

.ui-datepicker .ui-datepicker-header {
  background-color: #1f3a58;
  color: white;
}

.ui-datepicker-material-header {
  display: block;
  background-color: #284b72;
  color: white;
  text-align: center;
  width: 325px;
}
.ui-datepicker-material-header .ui-datepicker-material-day {
  background-color: #1f3a58;
  padding: 10px;
  font-size: 1rem;
}
.ui-datepicker-material-header .ui-datepicker-material-date {
  padding: 20px;
}
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-month,
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-day-num,
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-year {
  padding: 5px;
}
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-month {
  font-size: 2rem;
  text-transform: uppercase;
}
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-day-num {
  font-size: 4.5rem;
}
.ui-datepicker-material-header
  .ui-datepicker-material-date
  .ui-datepicker-material-year {
  font-size: 1.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
  padding: 0;
  border: none;
  /* box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24); */
  width: 325px;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  font-weight: 300;
}

.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #284b72;
  color: white;
}
.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200;
  height: 33px;
  width: 33px;
  line-height: 36px;
}

.ui-datepicker-calendar tbody td {
  background: none;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px;
}

.ui-datepicker-calendar tbody td.ui-datepicker-today {
  background-color: #284b72;
  color: white;
}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month {
  opacity: 0.35;
}

.ui-datepicker-calendar .ui-datepicker-week-end {
  background-color: #b4cbe5;
}

#root {
  width: 325px;
  margin: 50px auto;
}
