.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color ease-out .3s;
}
input {
    border: 1px solid #666;
    border-radius: 0;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
}

.App-result {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0, 0.3);
    text-align: center;
}