.WatchesItemAnalog {
  width: 150px;
  fill: white;
  stroke: black;
  stroke-width: 1;
  stroke-linecap: round;
  transform: rotate(-90deg);
  --start-seconds: 0;
  --start-minutes: 0;
  --start-hours: 0;


  .marks {
    transform: translate(20px, 20px);
    stroke-width: 0.2;
  }

  @for $i from 1 through 12 {
    .marks > line:nth-child(#{$i}) {
      transform: rotate(calc(#{$i} * 30deg));
      @if $i % 3 == 0 {
        stroke-width: 0.5;
      }
    }
  }

  .seconds,
  .minute,
  .hour
  {
    transform: translate(20px, 20px) rotate(0deg);
  }
  .seconds {
    stroke-width: 0.3;
    stroke: #d00505;
    transform: translate(20px, 20px) rotate(calc(var(--start-seconds) * 6deg));
  }
  .minute {
    stroke-width: 0.6;
    transform: translate(20px, 20px) rotate(calc(var(--start-minutes) * 6deg));
  }
  .hour {
    stroke-width: 1;
    transform: translate(20px, 20px) rotate(calc(var(--start-hours) * 30deg));
  }
  .pin {
    stroke: #d00505;
    stroke-width: 0.2;
  }
}