.catalog-search-form {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #D4E4E6;
    border-radius: 50px;
    margin-bottom: 2em;
}
.catalog-search-form .form-control {
    width: 100%;
    height: 100%;
    color: #333333;
    border: none;
    outline: none;
    box-shadow: none;
}