.Toolbar {
    list-style: none;
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 0;
}

.Toolbar-item {
    margin-left: 2px;
    margin-right: 2px;
}

button {
    background-color: #fff;
    border-radius: 0;
    border-width: 1px;
    padding: 5px 10px;
    transition: background-color ease-out .3s;
    outline: none;
}

button.-selected {
    background-color: grey;
    border: 1px solid grey;
    color: #fff;
}