.ShopItem {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #fff;

  &-img {
    overflow: hidden;
    height: 100%;
    width: 100px;
    position: relative;
   img {
     width: 100px;
     transform: translateY(-50%);
     top: 35%;
     position: absolute;
   }
  }
}