.menu {
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    background: #361F36;
}

.menu__item {
    position: relative;
    flex-grow: 1;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    opacity: .6;
    border-bottom-width: .2rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.menu__item:hover {
    opacity: 1;
    border-bottom-color: hsl(60, 50%, 50%);
}

.menu__item-active,
.menu__item-active:hover {
    opacity: 1;
    border-bottom-color: hsl(120, 50%, 50%);
}